@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;700&display=swap');

/*Asterisk Wildcard selector to override default style added by the browser*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

body {
    min-height: 100vh;
    color: #0D0D0D;
    display: flex;
    flex-direction: column;
    background: url(../images/paycalcsbg.png) no-repeat;
    width: 100%;
    padding-top: 5px;
}

/*Header*/
header {
    text-align: center;
}

header img {
    display: inline-block;
}

header a {
    text-decoration: none;
    color: inherit;
}

.img-title {
    display: flex;
    justify-content: space-around;
}

#logo-img {
    max-height: 150px;
    max-width: 150px;
    padding-top: 10px;
}

.top-container {
    display: inline-block;
}

/*Main Content*/

main {
    /*make main element to take up any surplus space */
    flex: 1 0 auto;
    /*general styles for main*/
    width: 90%;
    height: auto;
    align-self: center;
}

main>div {
    background-color: rgb(86, 191, 181, 0.95);
    display: flex;
    flex-direction: column;
    text-align: center;
    /*border: 2px solid #0d0d0d;*/
    border-radius: 8px;
    padding-top: 5px;
    padding-bottom: 20px;
}

#main-container>button {
    background-color: #F2AE2E;
    border-radius: 10px;
    height: 80px;
    width: clamp(150px, 65%, 500px);
    box-shadow: 5px 3px rgb(242, 123, 53, 0.5);
    margin-bottom: 15px;
    font-size: large
}

.menu-container {
    /*this container displays on load*/
    display: none;
}

#disclaimer {
    padding: 0 5px 0 5px;
}

/*Modal styles*/
.modal-container {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 200px;
    width: 100%;
    height: 100%;
    background-color: rgb(192, 224, 242);
    background-color: rgb(192, 224, 242, 0.5);
    overflow-y: auto;
}

.info-container {
    max-width: 85%;
    max-height: 90%;
    background-color: #c2e0f2;
    border: 2px solid #0D0D0D;
    border-radius: 8px;
    margin: auto;
    overflow-y: auto;
}

.info-header {
    background-color: #3b8fd9;
    position: relative;
    width: 100%;
    z-index: 100;
}

.info-text {
    padding-left: 10px;
    min-height: 60%;
}

.close {
    font-size: 2rem;
    float: right;
    cursor: pointer;
    line-height: 15px;
}

.close:hover {
    color: #ffffff;
}

.nojs {
    max-width: 85%;
    height: 500px;
    background-color: #c2e0f2;
    border: 5px solid red;
    border-radius: 8px;
    z-index: 10;
    top: 0;
    left: 0;
    overflow-y: auto;
    align-self: center;
    padding-top: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltiptext {
    visibility: hidden;
    width: auto;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

/*Tabs Style*/
.tabs {
    overflow: hidden;
    padding-top: 5px;
}

/*Tabs button style*/

.tabs-container {
    min-height: 300px;
    padding-top: 10px;
}

.tabs-container button {
    display: inline-block;
    border: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    background-color: #F2AE2E;
    width: 100px;
    font-size: 15px;
    border-radius: 3px;
}

.tabs-container button:hover {
    background-color: rgb(86, 191, 181);
}

/*Tabs content*/
.tabscontent {
    padding: 6px 12px;
    background-color: rgb(86, 191, 181);
    width: 95%;
    display: block;
}

.tab-contents #advanced {
    display: none;
}

.tab-contents {
    align-items: center;
}

#calculateButton,
#calculateButton-adv {
    background-color: #f2f2f2;
    height: auto;
}

/*Table*/
table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    margin-top: 20px;
}

.calcResults {
    display: flex;
    justify-content: column;
}

th,
td {
    border: 2px solid #ddd;
    padding: 8px;
    text-align: left;
}

th,
td {
    background-color: #f2f2f2;
}

#error-container {
    display: flex;
}

#error-container img {
    width: 10%;
    height: 10%;
}

/*Footer*/
footer {
    width: 100%;
    background: #F2AE2E;
    text-align: center;
}

/* -- Media Queries Section --- */

@media screen and (min-width: 820px) {
    main {
        width: 700px;
    }

    .nojs {
        width: 60%;
    }

    .info-container {
        max-width: 700px;
    }